<!DOCTYPE html>
<html>

<head>
  <%= stylesheet_link_tag 'users' %>
</head>

<div id="join">

  <h1><%= @user.first_name %>'s PoorPal</h1>
  <hr></hr>
  <h3><%= link_to "Profile Information", edit_user_path %></h3>
  <h3><%= link_to "View Shopping Lists", user_shopping_lists_path(@user.id) %></h3>
  <h3><%= link_to "Create New Shopping List", new_user_shopping_list_path(@user.id) %></h3>

</div>

</html>