<!DOCTYPE html>
<html>
  <%= stylesheet_link_tag 'welcome' %>

<body>
<div id="login">
  <%= form_tag session_path do%> 
  <%= label_tag :email %>
  <%= text_field_tag :email%>
  <%= label_tag :password %>
  <%= password_field_tag :password%>
  <%= submit_tag "Login!" %>
  <% end %>
</div>

<div id="welcome_title">

  <h2> PoorPal </h2>
  <button><%= link_to "Sign Up", controller: "users", action: "new"%></button>

</div>

<div id="subtitle">

  <h3> ...a shopping companion for the Price Savvy </h3>
  <h3> Penny Pincher! </h3>

</div>

</body>
</html>