<div id="user-container">

  <h1> <%= @shopping_list.title%> Shopping List </h1>
  <%= link_to "Change Shopping List Title", edit_user_shopping_list_path(@user.id, @shopping_list.id ) %>
</div>
<br />

<div id="searchbar">
  <form method="GET" action="products/show" />
    <label for="search_input">Search Products:</label>
    <input type="text" name="search_input" id="search_input_field" />
    <input type="submit" value="Search" id="submit_search"/>
  </form>
</div>

<hr></hr>
</br>

<div id="products">

  <% @stores.each do |store| %>
  <h3><u><%= store %></h3></u>

    <% @products.each do |item| %>
      <% if item.store == store %>
        <p><%= item.name %> - $<%= item.price %></p>

        <form action="<%= user_shopping_list_product_path(@user.id, @shopping_list.id, item.id) %>" method="POST" >
          <input type="hidden" name="_method" value="DELETE" />
          <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
          <button>Delete</button>
        </form>

      <% end %>
    <% end %>
  <% end %>

</div>

<div class="message">
  <ul>
    <li><a href="/users/<%= @user.id%>/shopping_lists/<%=@shopping_list.id%>">Send List to Email</a></li>
    <li><a href="<%= new_user_shopping_list_product_path(@user.id, @shopping_list.id) %>">Send to Phone</a></li>
  </ul>
</div>